# Para desarrollo local (SQLite):
DATABASE_URL=sqlite:///agenciacode.db

# Para produccion (MySQL):
# DATABASE_URL=mysql+pymysql://usuario:password@host:3306/agenciacode_db

FLASK_ENV=development
SECRET_KEY=genera-una-clave-aleatoria-aqui
DEBUG=True
